@charset "utf-8";
*{
    box-sizing: border-box;
}

main{
    font-family: 'Kosugi', sans-serif;
}
main button{
    transition: all .3s;
    border: none;
    background: #D9242D;
    border: 2px solid #D9242D;
    width: 200px;
    height: 50px;
    position: relative;
}
main button a{
    color: #fff;
    text-decoration: none;
    display: block;
    width: 100%;
    transition: all .3s;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    line-height: 45px;
}
button a:hover{
    color: #D9242D;
}
main button:hover{
    background: #fff;
}
main button:active{
    opacity: 1;
}
/* top */
.top{
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.top::before{
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.top-txt{
    color: #fff;
    font-size: 60pt;
    position: absolute;
    bottom: 30px;
    left: 150px;
    line-height: 1;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    text-shadow: 3px 3px 5px rgb(56, 56, 56);
}
.top-txt h1{
    margin: 0;
}
.top-txt p{
    font-size: 0.5em;
    margin-top: 0;
}
/********************************* 
nav
**********************************/
nav{
    background: #fff;
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 80px;
    overflow: hidden;
    position: fixed;
    top: 0;
    z-index: 99;
}
.pc-menu{
    display: flex;
    width: 80%;
    justify-content: flex-end;
}
.pc-menu p{
    line-height: 1.2;
    font-size: 1.3em;
    margin-right: 50px;
    padding-bottom: 40px;
    transition: all .3s;
}
.pc-menu p:last-child{
    margin-right: 30px;
}
.pc-menu p:hover{
    border-bottom: 3px solid #D9242D;
}
.pc-menu span{
    display: block;
    font-size: 0.5em;
    width: 100%;
    transition: .2s;
    padding-bottom: 3px;
}
nav a{
    color: #fff;
    color: #000;
    text-decoration: none;
    text-align: center;
    line-height: 1;
}
nav a span{
    color: #4d4d4d;
}
.logo{
    width: 12%;
    background: url(../images/logo.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    transition: all .3s;
}
.logo:hover,.nav-contact:hover{
    opacity: 0.8;
    cursor: pointer;
}
.nav-contact{
    text-align: center;
    width: 10%;
    background: #D9242D;
    transition: all .3s;
}
.nav-contact span{
    display: block;
}
.nav-contact span img{
    width: 20%;
    display: block;
    margin: 5px auto 5px;
}
.nav-contact p{
    margin: 0;
    height: 30px;
    color: #fff;
}
.tb-menu{
    display: none;
}
.tb-menu-content{
    opacity: 0;
}
/********************************* 
news
**********************************/
.heading {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}
.heading h2{
    position: relative;
    color: #D9242D;
    font-size: 4em;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 900;
    display: inline-block;
    margin: 0 auto 15px;
}
.heading p{
    position: absolute;
    bottom: -70px;
    left: 0;
    font-size: 0.5em;
    color: #000;
    font-family: 'Raleway', sans-serif;
}
#news{
    background: #eeeeee;
    width: 70%;
    margin: auto;
    padding: 30px 0;
    margin-top: 60px 
}
.news-content{
    margin: auto;
    padding: 15px 0 15px;
    text-align: center;
}
.news-content p{
    width: 80%;
    margin: 20px auto;
    text-align: center;
    border-bottom: 1px solid #D9242D;
    font-size: 1.2em;
}
.news-content p a{
    color: #000;
    text-decoration: none;
}
.news-content span{
    padding: 0 100px 0 0;
}
.news-content button{
    /* padding: 5px 8px; */
    width: 120px;
    height: 45px;
}
.news-content button a{
    line-height: 40px;
}
/********************************* 
company
**********************************/
#company{
    text-align: right;
    margin-top: 80px;
    position: relative;
    display: flex;
    justify-content: flex-end;
}
#company .heading{
    text-align: left;
    padding-left: 60px;
    margin-bottom: 150px
}

#company .heading p{
    color: #000;
}
.company-img{
    width: 50%;
}
#company img{
    width: 100%;
    height: 80%;
    overflow: hidden;
}
.company-content{
    width: 30%;
}
.company-content>p{
    text-align: left;
    padding-left: 60px;
    font-size: 1em;
    line-height: 0.5;
}
#company button{
    font-size: 1.2em;
    margin-bottom: 20px;
    margin-left: 60px;
}
.company-button{
    text-align: left;
}
/********************************* 
service
**********************************/
#service > p{
    width: 60%;
    margin: auto;
    font-size: 1.2em;
    margin-bottom: 30px;
}
.service-content{
    display: flex;
    background: #eee;
    color: #fff;
    padding: 30px;
}
.service-content-img{
    margin: auto;
    width: 40%;
    height: 100px;
    margin-top: 30px;
}
.service-content-img img{
    width: 100%;
}
.db-icon img{
    width: 70%;
    display: block;
    margin: auto;
}
.service-content-item h3{
    text-align: center;
    font-size: 1.5em;
}
.service-content-item{
    width: 25%;
    margin: auto;
    background: #D9242D;
    border-radius: 15px;
    padding: 0 30px;
    box-shadow: 3px 3px 5px #545454;
}
/********************************* 
recruit
**********************************/
#recruit{
    text-align: left;
    position: relative;
    margin-top: 150px;
    display: flex;
    justify-content: flex-start;
    height: 500px
}
#recruit .heading{
    text-align: left;
    padding-left: 60px;
    margin-bottom: 100px;
}
#recruit .heading h2{
    color: #D9242D;    
}
.recruit-img{
    width: 50%;
    height: 80%;
    overflow: hidden;
}
.recruit-content{
    width: 40%;
    text-align: left;
}
#recruit img{
    width: 100%;
}
.recruit-content > p{
    padding-left: 60px;
    font-size: 1.3em;
}

#recruit button{
    font-size: 1.2em;
    margin-bottom: 20px;
    margin-left: 60px;
}

/********************************* 
map
**********************************/
#map{
    background: #dcdcdc;    
    margin-top: 80px;
}
.map-wrapper{
    width: 80%;
    margin: auto;
    padding: 50px 0; 
}
.map-content{
    display: flex;
    justify-content: space-around;
    margin-bottom: 80px;
}
.map-content:last-child{
    margin-bottom: 0;
}
.map-txt{
    width: 35%;
}
.map-txt h2{
    font-size: 2em;
    border-bottom: 2px solid #D9242D;
    font-weight: 500;
    width: 100%;
    margin: auto;
}
.map-txt p{
    font-size: 1.4em;
    margin-bottom: 50px;
}
.map-img{
    width: 50%;
    height: 300px;
}
iframe{
    width: 100%;
    height: 100%;
}

/********************************* 
contact
**********************************/
#contact{
    background: url(../images/contact-bg.png) no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    position: relative;
}
#contact h2{
    color: #fff;
    padding: 50px 0 10px;
    font-size: 4em;
    margin-top: 0;
}
.contact-button button{
    margin-bottom: 30px;
    font-size: 1.2em; 
    width: 300px;
}

/********************************* 
footer
**********************************/
footer{
    height: 200px;
    background: #D9242D;
    position: relative;
}
footer p{
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    color: #fff;
    text-align: center;
    padding-top: 160px;
}
/********************************* 
タブレット
**********************************/
@media screen and (max-width: 950px){
    .pc-menu{
        display: none;
    }
    .tb-menu{
        display: block;
    }
    .tb-menu-content{
        transition: all .3s;
        opacity: 0;
    }
    .open{
        opacity: 1;
    }
    .nav-contact{
        display: none;
    }
    .top-txt{
        top: 25%;
        font-size: 60pt;
        left: 30px;
    }
    .heading p{
        bottom: -55px;
    }

    /* ハンバーガーメニュー  */
    nav{
        background: #D9242D;
        z-index: 1000;
    }
    .tb-menu button{
        position: relative;
        width: 70px;
        height: 80px;
        border: none;
        margin-right: 10px;
        background: none;
    }
    .tb-menu span{
        display: block;
        width: 50px;
        height: 2px;
        background-color: #fff;
        transition: all 0.5s;
        margin: auto;
    }
    .tb-menu span:first-child{
        position: absolute;
        top: 20px;
    }
    .tb-menu span:nth-child(2){
        position: absolute;
        top: 40px;
    }
    .tb-menu span:last-child{
        position: absolute;
        bottom: 20px;
    }
    .menu-btn.active span:first-of-type {
        transform: rotate(45deg);
        top: 40px;
    }
    .menu-btn.active span:nth-of-type(2) {
        opacity:0;
    }
    .menu-btn.active span:last-of-type {
        transform: rotate(-45deg);
        bottom: 40px;
    }
    .tb-menu-content{
        position: fixed;
        width: 100%;
        height: 100%;
        overflow: auto;
        top: 0;
        left: 0;
        z-index: 999;
        background: #fff;
    }
    .tb-menu-content ul{
        margin-top: 200px;
        padding: 0;
    }
    .tb-menu-content li{
        width: 90%;
        margin: auto;
        padding-bottom: 20px;
        list-style: none;
        text-align: center; 
        line-height: 3;
        position: relative;
        border-top: 1px solid #000;
    }
    .tb-menu-content li:last-child{
        border-bottom: 1px solid #000;
        }
    .tb-menu-content li span{
        font-size: 0.7em;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        color: #4d4d4d;
    }
    .tb-menu-content a{
        text-decoration: none;
        color: #000;
        font-size: 2em;
    }
    /* news */
    #news{
        width: 90%;
        text-align: left;
    }
    .news-content span{
        display: block;
    }
    .news-content p{
        text-align: left;
    }

    /* company */
    .company-content{
        width: 40%;
    }
    #company .heading{
        margin-bottom: 80px;
    }
    #company img{
        height: 94%;
    }
    
    /* service */
    #service{
        margin-top: 100px;  
        background: #eee;
        padding: 30px 0;
    }
    #service >p{
        width: 80%;
        margin-bottom: 0;
    }
    .service-content{
        display: block;
    }
    .service-content-item{
        width: 60%;
        padding: 15px;
        margin: 30px auto;
        text-align: left;
    }
    .service-content-item p{
        width: 80%;
        margin: auto;
        margin-bottom: 15px;
    }
    .service-content-img{
        width: 30%; 
    }
    /* recruit */
    #recruit{
        margin-top: 100px;
        height: 300px;
    }
    #recruit .heading{
        margin-bottom: 50px;
    }
    .recruit-img{
        height: 100%;
    }

    /* map */
    .map-txt{
        width: 80%;
        margin: auto;
    }
    .map-content{
        display: block;
    }
    .map-img,.map-wrapper{
        width: 100%;
        padding-bottom: 0;
    }
    .map-txt p{
        margin-bottom: 30px;
    }
}

/********************************* 
スマホ
**********************************/
@media screen and (max-width: 480px){
    .logo{
        width: 20%;
    }
    .top-txt{
        top: 25%;
        font-size: 30pt;
        left: 0;
        right: 0;
        width: 90%;
        margin: auto;
    }
    .tb-menu span:first-child{
        top: 25px;
    }
    .tb-menu span:last-child{
        bottom: 23px;
    }
    .tb-menu-content ul{
        margin-top: 100px;
    }
    .tb-menu-content a{
        font-size: 1.5em;
    }
    .heading{
        margin-bottom: 0;
    }
    .heading h2{
        font-size: 3em;
    }
    .heading p{
        bottom: -40px;
    }
    .news-content{
        padding: 0;
    }
    .news-content p{
        font-size: 1em;
    }
    
    #company{
        flex-direction: column-reverse
    }
    #company .heading{
        padding: 0;
        margin-bottom: 30px;
    }
    .company-img{
        width: 100%;
    }
    .company-content{
        width: 90%;
        margin: auto;
    }
    .company-content>p{
        padding: 0;
    }
    .company-button{
        text-align: center;
    }
    #company button{
        margin: 0;
    }

    .service-content{
        padding: 0;
    }
    #service .heading{
        margin-bottom: 15px;
    }
    #service >p{
        font-size: 1em;
    }
    .service-content-img{
        width: 40%;
    }
    .service-content-item{
        width: 80%;
    }

    #recruit{
        display: block;
        height: auto;
    }
    #recruit .heading{
        padding: 0;
        margin-bottom: 0;
    }
    #recruit button{
        margin: 0;
    }
    .recruit-img{
        width: 100%;
    }
    .recruit-content{
        width: 90%;
        margin: auto;
    }
    .recruit-content>p{
        padding: 0;
        font-size: 1em;
    }

    .map-txt p{
        font-size: 1em;
    }
    .map-img{
        height: 200px;
    }

    #contact h2{
        font-size: 2em;
        padding: 30px 0 5px;
        margin-bottom: 0;
    }
    .contact-button button{
        font-size: 0.8em;
        width: 250px;
    }
}
/********************************* 
scroll-animatin 
**********************************/
.js-scroll-fade{
    position: relative;
    opacity: 0;
    transform: translate(0,40px);
    transition: all 1s cubic-bezier(0.155, 0.910, 0.695, 0.950);
}
.js-scroll-fade.is-animation{
    opacity: 1;
    transform: translate(0, 0);
}